.main-nav {
  background-color: @blue;
}

.main-nav__item {
  padding: 10px 0 5px;
  border-bottom: 1px solid @border-bottom;
  border-top: 1px solid @border-top;
}

.main-nav__link {
  display: block;
  text-align: center;
}

