.main-nav {
  background-color: @blue;
  position: relative;

  @media (min-width: @tablet-width) {
    background-color: @white;
    color: @black;
  }
}

.main-nav__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.main-nav__toggle {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav__list {
  @media (max-width: @mobile-width-only) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-around;
  }
}

.main-nav__item {
  padding: 8px 0 5px;
  border-bottom: 1px solid @border-bottom;
  border-top: 1px solid @border-top;

  @media (min-width: @tablet-width) {
    border: none;
  }
}

.main-nav__link {
  display: block;
  text-align: center;
}
