.review {
  padding: 36px 0 16px;
}

.review__title {
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
  }
}

.form-review {
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 648px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.form-review__item {
  border: none;
  margin: 0;
  padding: 0 0 25px;
  position: relative;
}

.form-review__item::before {
  content: "";
  border-top: 1px solid @fieldset-gray;
  height: 1px;
  width: 320px;
  left: -20px;
  display: block;
  position: absolute;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.form-review__title {
  padding: 20px 0 20px;

  @media (min-width: @tablet-width) {
    position: relative;

    &--around {
      padding-left: 125px;
      padding-right: 125px;

      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 123px;
        height: 1px;
        left: 0;
        top: 50%;
        background-color: @fieldset-gray;
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 123px;
        height: 1px;
        right: 0;
        top: 50%;
        background-color: @fieldset-gray;
      }
    }
  }
}

.field__label {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.field__input {
  height: 58px;
  border: none;
  background-color: @input-gray;
  flex-grow: 1;
  padding: 0 20px;
  font-family: inherit;
}

.field__input::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @black;
}

.login-form {
  @media (min-width: @tablet-width) {
    padding-left: 50px;
    position: relative;
  }

  &::before {
    @media (min-width: @tablet-width) {
      content: "";
      display: block;
      position: absolute;
      width: 1px;
      height: 292px;
      background-color: @fieldset-gray;
      top: 20px;
      left: 0;
    }
  }
}

.login-form__title {
  @media (min-width: @tablet-width) {
    text-align: left;
    padding-bottom: 54px;
  }
}

.login-form__field {
  display: flex;
  align-items: center;
}

.login-form__field:not(:last-child) {
  margin-bottom: 20px;
}

.login-form__field-label {
  margin-right: 14px;
}

.contact-form {
  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

.contact-form__field:not(:last-child) {
  margin-bottom: 14px;
}

.contact-form__field-label {
  display: block;
  margin-bottom: 8px;
}

.contact-form__field-input {
  width: 100%;
  background-repeat: no-repeat;
  background-position: right 20px center, 0 0;
}

.field__input--phone {
  background-image: url("../../img/form--icon/phone.svg"), linear-gradient(to left, #e6e6e6 58px, transparent 58px);
}

.field__input--email {
  background-image: url("../../img/form--icon/mail.svg"), linear-gradient(to left, #e6e6e6 58px, transparent 58px);
}

.impression-form {
  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.impression-form__title {
  @media (min-width: @tablet-width) {
    text-align: left;
  }
}

.impression-form__item {
  margin-bottom: 21px;
}

.radio__input,
.checkbox__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.radio__label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  position: relative;
  display: block;
  padding: 11px 0 11px 76px;
}

.radio__label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  background-color: @input-gray;
  border-radius: 50%;
}

.radio__input:checked + .radio__label.radio__label::after {
  content: "";
  position: absolute;
  left: 24px;
  top: 24px;
  width: 18px;
  height: 18px;
  background-color: @input-darkgray;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.attraction-form {
  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}

.attraction-form__list {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.attraction-form__item {
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    margin-left: 100px;
  }

  &:nth-child(2n) {
    @media (min-width: @tablet-width) {
      margin-left: 35px;
    }
  }
}

.checkbox__label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  position: relative;
  padding: 12px 0 8px 75px;
}

.checkbox__label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 46px;
  height: 46px;
  background-color: @input-gray;
  border-radius: 5px;
}

.checkbox__input:checked + .checkbox__label::after {
  content: "";
  position: absolute;
  left: 23px;
  top: 23px;
  width: 24px;
  height: 24px;
  transform: translate(-50%, -50%);
  background-image: url("../../img/form--icon/tick.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.feedback-form {
  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 4;
    grid-row-end: 5;
  }
}

.review-form__input {
  width: 100%;
  height: 160px;
  padding: 15px 20px 30px 20px;
}

.review-form__button {
  width: 100%;
  padding: 18px 0 13px;
}

.review-form__comment {
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    text-align: end;
  }
}

.modal__title {
  margin-bottom: 24px;
}

.modal__discription {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.modal {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.modal--failure {
  box-shadow: 0 7px 15px 0 rgb(0 0 ~"0/15%");
  padding: 40px 42px 35px 42px;

  @media (min-width: @tablet-width) {
    width: 400px;
    margin: 0 auto;
    padding: 52px 64px 50px 64px;
  }
}

.modal__discription--failure {
  margin-bottom: 24px;
}

.modal--success {
  box-shadow: 0 4px 4px 0 rgb(0 0 ~"0/25%");
  padding-top: 30px;

  @media (min-width: @tablet-width) {
    width: 640px;
    margin: 0 auto;
  }
}

.modal__button {
  padding: 18px 0 14px;
  width: 100%;
}

.modal__button--failure {
  width: 140px;
  margin: 0 auto;
}

.modal__inner-text--success {
  width: 244px;
  margin: 0 auto 50px auto;

  @media (min-width: @tablet-width) {
    width: 420px;
  }
}

.modal__wrapper-button--success {
  padding: 20px;
  background-color: @input-gray;

  @media (min-width: @tablet-width) {
    padding: 44px 91px;
  }
}
